.dark-common {
    // background-color: #121E29;
    color: #F9FAFA;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
    overflow: hidden;
    padding: 0px;
}
.navbar-collapse {
    flex-grow: 1;
}
.navbar-nav {
    list-style: none;
}
.navbar .navbar-nav .nav-item .nav-link {
    margin-right: 32px;
}
.navbar {
    padding: 0;
}
.navbar .navbar-nav .nav-link {
    color: #e6e6e6;
    font-size: 15px;
    padding: 0;
    font-weight: bold;
}
.navbar-dark {
    background-color: #121E29 !important;
}
.bg-dark {
    background-color: #121E29 !important;
}
.logo {
    height: 50px;
}
#home {
    // background-image: url("../../assets/images/hoang-bui-ngoc-quy.jpg");
    background-image: url("../../assets/images/hoang-bui-ngoc-quy_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:before {
        background-color: rgba(0,0,0,.4);
    }
}

.home-area {
    background-color: #121E29;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        display: flex;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }
}
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.6rem;
    }
}